/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-background-light: #eceff1;
  --color-background-mid-light: #d5edfa;
  --color-text-light: #0D141C;
  --color-primary-light: #4F7396;
  --color-accent-light: #D1DBE8;
  --color-error-light: #D92736;
  --color-success-light: #27d942;

  --color-background-dark: #121A21;
  --color-background-mid-dark: #202e3a;
  --color-text-dark: #FFFFFF;
  --color-primary-dark: #94ADC7;
  --color-accent-dark: #334D66;
  --color-error-dark: #D92736;
  --color-success-dark: #27d942;

  --font-size: 1rem;
  --font-size-sm: calc(var(--font-size) / 1.3);
  --font-size-xs: calc(var(--font-size) / 1.5);
  --cell-size: calc(var(--font-size) * 1.6);
  --line-height: var(--cell-size);
  --spacing-25: calc(var(--cell-size) / 4);
  --spacing-05: calc(var(--cell-size) / 2);
  --spacing-1: var(--cell-size);
  --spacing-2: calc(var(--cell-size) * 2);
}

/* semantic color variables for this project */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-background-mid: var(--color-background-mid-dark);
    --color-text: var(--color-text-dark);
    --color-primary: var(--color-primary-dark);
    --color-accent: var(--color-accent-dark);
    --color-error: var(--color-error-dark);
    --color-success: var(--color-success-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-background-light);
    --color-background-mid: var(--color-background-mid-light);
    --color-text: var(--color-text-light);
    --color-primary: var(--color-primary-light);
    --color-accent: var(--color-accent-light);
    --color-error: var(--color-error-light);
    --color-success: var(--color-success-light);
  }
}


html {
  color-scheme: dark light;
}

[data-theme="light"] {
  color-scheme: light;
  --color-background: var(--color-background-light);
  --color-background-mid: var(--color-background-mid-light);
  --color-text: var(--color-text-light);
  --color-primary: var(--color-primary-light);
  --color-accent: var(--color-accent-light);
  --color-error: var(--color-error-light);
  --color-success: var(--color-success-light);

}

[data-theme="dark"] {
  color-scheme: dark;
  --color-background: var(--color-background-dark);
  --color-background-mid: var(--color-background-mid-dark);
  --color-text: var(--color-text-dark);
  --color-primary: var(--color-primary-dark);
  --color-accent: var(--color-accent-dark);
  --color-error: var(--color-error-dark);
  --color-success: var(--color-success-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: var(--line-height);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}