@import './base.css';

#app {
  height: 100%;
}

p {
  max-width: 75ch;
  margin: auto;
}

section {
  margin: auto;
  max-width: 75%;
  padding: var(--spacing-one) var(--spacing-two);
}

@media screen and (max-width: 325px) {
  section {
    max-width: 95%;
  padding: var(--spacing-one) var(--spacing-two);
  }
}

a {
  position: relative;
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  color: var(--color-text);
}

a:visited{
  color: unset;
}

a::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.2s;
  background-color: var(--color-primary);
}

a:active::after{
  transform: scaleX(1);
}

a.router-link-exact-active {
  color: var(--color-primary);
}
a.router-link-exact-active::after{
  transform: scaleX(1);
}

@media (hover: hover) {
  a:hover::after {
    transform: scaleX(1);
  }
}

input {
  width: 100%;
  padding: 6px 12px;
  color: var(--color-text);
  background-color: var(--color-background-mid);
  background-clip: padding-box;
  border: 1px solid var(--color-primary);
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus {
  background-color: var(--color-background);
  border-color: var(--color-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  cursor: pointer;
  padding: 2px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: var(--spacing-1);
  transition: background-color 200ms;
  font-size: var(--font-size-sm);
}

input[type="file"]::file-selector-button:hover {
  
  background-color: var(--color-primary);
}

input[type="file"]::file-selector-button:active {
  background-color: var(--color-primary);
}

button {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: var(--spacing-25) var(--spacing-05);
  border: 0;
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  background: var(--color-background-mid);
  transition: background-color 200ms;
}

button:hover {
  background-color: var(--color-primary);
}

[disabled] {
  opacity: .5;
  cursor: none;
  pointer-events: none;
}